<%- include('partials/header'); -%>

<!-- Image source: https://www.dfcc.ca/news -->
<img class="bg-img" src="/images/pexels-jahoo-clouseau-388415.jpg" alt="bg-img">

<div class="container home">
    <div class="container home-content">
        <div class="row">
            <div class="col col-lg-6 col-md-12 col-sm-12">
                <div class="share-story">
                    <h1>Share a story</h1>
                    <p>
                    Share your story with the world. It can be about anything you want.
                    Share your interest, your travel adventures, your professional and 
                    personal achievements. World Blog's family is here to share it with you.
                    </p>
                    <% if(isAuthenticated) { %>
                        <a class="story-btn btn" type="button" href="/write-post" title="GET STARTED">GET STARTED</a>
                    <% } else { %>
                        <a class="story-btn btn" type="button" href="/sign-in" title="GET STARTED">GET STARTED</a>
                    <% } %>
                </div>
            </div>
            <div class="col col-lg-6 col-md-12 col-sm-12">
                <!-- Image source: https://www.forbes.com/advisor/business/software/how-start-travel-blog/ -->
                <img class="desk" src="/images/how_to_start_a_travel_blog_-_article_image.jpg" alt="share-story-img">
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer'); -%>