html {
    min-height: 100%;
    /* position: relative; */
}


/* Navigation */

nav {
    background-color: #000000;
}
.navbar-brand {
    color: #F6F1F1;
    font-size: 30px;
}
.navbar-brand:hover {
    color: #F6F1F1;
}
.navbar-nav {
    position: relative;
    left: 30%;
}
.nav-link {
    color: #F6F1F1;
    font-size: 20px;
    padding: 8px 0px !important;
    margin: 5px 20px;
}
.nav-link:hover {
    color: #F6F1F1;
    border-bottom: 2px solid #F6F1F1;
}
.register-btn {
    background: none;
    color: #F6F1F1;
    border: 2px solid #F6F1F1;
    border-radius: 8px;
    position: relative;
    padding-top: 15px;
    left: 65%;
    font-weight: bold;
}
.register-btn:hover {
    color: #000000;
    background-color: #F6F1F1;
}
.sign-in-btn {
    background: none;
    color: #F6F1F1;
    border: 2px solid #F6F1F1;
    border-radius: 8px;
    position: relative;
    padding-top: 15px;
    left: 70%;
    font-weight: bold;
}
.sign-in-btn:hover {
    color: #000000;
    background-color: #F6F1F1;
}

/* Register Page */

.register-form {
    margin: 100px auto 100px;
    padding: 0px 200px 0px;
    text-align: center;
}
.register-form form {
    text-align: left !important;
}
.fa-id-card {
    font-size: 100px;
}

/* Sign In Page */

.sign-in-form {
    margin-top: 150px;
    text-align: center;
}
.sign-in-form form {
    padding: 0 40%;
}
.fa-users {
    font-size: 60px;
}

@media only screen and (max-width: 768px) {
    .log-in-form form {
        padding: 0px 50px;
    }
}

/* Home Page */

.bg-img {
    min-width: 100vw;
    min-height: 100vh;
    width: 50%;
    z-index: -1;
}
.home-content {
    position: absolute;
    top: 300px;
}
.share-story {
    padding-right: 100px;
    padding-top: 30px;
}
.story-btn {
    background-color: #F6F1F1;
    border: none;
    height: 60px;
    width: 150px;
    font-weight: bold;
    padding-top: 18px;
}
.story-btn:hover {
    background-color: #000000;
    color: #F6F1F1;
}
.desk {
    width: 100%;
    border-radius: 10px;
    margin-right: 10px;
}

@media only screen and (max-width: 768px) {
    .home-content {
        top: 100px;
    }
    .desk {
        border-radius: 10px;
        margin-top: 20px;
        width: 450px;
    }
   
}


/* Post Form */

.write-post-description {
    text-align: center;
    margin-top: 50px;
}
.post-form {
    margin-top: 50px;
}

/* Footer */

footer {
    /* position: relative; */
    text-align: center;
    bottom: 0px;
    width: 100%;
    background-color: #F8EAD8;
}
  
footer p {
    margin-top: 25px;
    font-size: 15px;
    color: #594545;
}